<div class="row">
    <div class="col-md-12">
        <h1>Index</h1>

        <ul class="people_list">

        </ul>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Chat form</h4>
                </div>
            </div>
            <div class="card-body">
              <div style="width: 700px; height: 500px; margin: auto; overflow-y: scroll;" id="wrap-content">
                  {{#each chat}}
                      <div style="display: flex">
                          <label class="col-sm-2 btn btn-rose btn-round">{{ this.name }}</label>
                          <div class="col-sm-7">
                              <div class="form-group bmd-form-group">
                                  <span>{{ this.message }}</span>
                              </div>
                          </div>
                      </div>
                  {{/each}}


<!--                  <div style="display: flex">-->
<!--                      <label class="col-sm-2 btn btn-info btn-round">Nam</label>-->
<!--                      <div class="col-sm-7">-->
<!--                          <div class="form-group bmd-form-group">-->
<!--                              <span>afdsfd</span>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->
              </div>

                <form method="get" action="/" onsubmit="sendMessage(); return false;" class="form-horizontal">
                    <div class="row">
                        <label class="col-sm-1 col-form-label">Message</label>
                        <div class="col-sm-10">
                            <div class="form-group bmd-form-group">
                                <input type="text" id="message-content" class="form-control">
                                <span class="bmd-help">Chat chat chat</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>


    function sendMessage() {
        const message = document.getElementById("message-content").value;
        console.log(message);
        socket.emit('msgToServer', { name: Math.random().toString(36).substring(7), message: message});
        document.getElementById('message-content').value = '';
    }

    function generateMessage(name, message) {
        return `<div style="display: flex">
                      <label class="col-sm-2 btn btn-info btn-round">${name}</label>
                      <div class="col-sm-7">
                          <div class="form-group bmd-form-group">
                              <span>${message}</span>
                          </div>
                      </div>
                  </div>`;
    }

    const socket = io('http://localhost:3000');
    socket.on('connect', function() {
        console.log('Connected');

        socket.emit('events', { test: 'test' });

        socket.emit('identity', 0, response =>
                console.log('Identity:', response),
        );
    });
    socket.on('msgToClient', function(chat) {
        console.log('event', chat);

        const htmlElement = generateMessage(chat.name, chat.message);

        document.getElementById("wrap-content").innerHTML += htmlElement;
    });
    socket.on('exception', function(data) {
        console.log('event', data);
    });
    socket.on('disconnect', function() {
        console.log('Disconnected');
    });
</script>
